.hero-body {
  padding: 1.5rem;
}

.section {
  padding: 1.5rem;
}

@media (min-width: 769px) {
  .is-padded-top-tablet {
    padding-top: 32px;
  }
}

#container {
  height: 256px;
}

#container .column {
  position: relative;
  border-top: 1px solid;
  box-sizing: border-box;
}

#steps {
  position: relative;
  height: 15px;
}

#steps .column {
  position: absolute;
  top: 0;
  height: 100%;
}
